body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
}
.nav{
    background-color: rgb(184, 96, 96);
    width: 100%;
    height: 5px;
}
.nav a{
    text-decoration: none;
    color: rgb(38, 41, 231); 
    margin-top: 20px; 
    padding: 10px;
    border-radius: 10px;
}
.heading{

    font-size: 50px;
}

h1{
    font-size: 50px;
    padding-top: 10px;
}
h1 span{
    color: orange;
}
.half-width{
    width:50%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.upperImage{
    width: 90%;
}
.me{
    width: 70%;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 10%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(233, 96, 42), rgb(216, 37, 6));
    padding: 10px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}
p{
    color: rgb(121, 107, 107);
}
.about-me{
    background-image: url("image/middle-background.png");
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.about-intro{
    text-align: justify;
  width: 50%;
  margin-top: 150px;
  margin-right: 150px;
  padding: 20px;
}
h2{
    font-size: 40px;
}


.description{
   text-align:center;
   margin-left: 60px;
   margin-bottom: 30px;
}
#food-img {
  width: 100%;
  border-radius: 15px;
}
#food-title {
  text-align: justify;
}
.food-iteams{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.food-box{
    padding: 8px;
    box-shadow: 0px 10px 10px 10px rgb(155, 224, 190);
    border-radius: 15px;
    width: 22%;
   
}

.follower{
  width: 75%;
  height: fit-content;
  margin-left: 11%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 10px 10px 10px rgb(146, 114, 130);
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.follower h1{
  font-size: 35px;
}
.footer{
  background-color: #39547c;
  text-align: center;
  width: 100%;
  color: rgb(152, 197, 110);
  padding: 7px;
  margin-top: 23px;
}
.footer a{
    text-decoration: none;
    color: white; 
    margin-top: 20px; 
    padding: 10px;
}
.footer p{
    color: rgb(77, 143, 143);
}


